$header-color: #3471d6;
$header-secondary-color: #dddddd;
$button-color: #0047a4;
$button-color-secondary: #717171;
$font-color-primary: #444444;
$font-color-secondary: #ffffff;
$font-color-headline: #3c4858;
$font-color-disabled: #717171;

$methode-noProblem: #4caf50;
$methode-problem: #f57c00;

$divider-border: 1px solid #d6d6d6;
$divider-border-big: 1px solid #717171;

$warning: #ffd700;
