@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Black.ttf") format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-LightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}
.italic {
    font-style: italic;
}
.black {
    font-weight: 900;
}
.bold {
    font-weight: 700;
}
.medium {
    font-weight: 600;
}
.regular {
    font-weight: 400;
}
.light {
    font-weight: 200;
}
.thin {
    font-weight: 100;
}
