.home {
    .grid {
        color: $font-color-secondary;
        padding: 32px;
        grid-column-gap: 16px;
        grid-row-gap: 32px;
        /*filter: blur(8px);*/
        h1 {
            font-size: 2.5rem;
            margin: 0px;
        }
        h2 {
            font-size: 1.75rem;
            margin: 0px;
        }
        h3 {
            font-size: 1rem;
            margin: 0px;
        }
        button {
            margin-top: 0.5rem;
        }
        p {
            margin: 0px;
            width: 100%;
            text-align: center;
        }
        .highlighted {
            font-size: 1.125rem;
        }
    }
    .backgroundImage {
        div {
            position: relative;
            float: right;
            right: 50%;

            img {
                $backgroundImageBlur: 6px;

                height: 120vh;
                position: relative;
                right: -50%;
                filter: blur($backgroundImageBlur);
                margin: -$backgroundImageBlur * 2;
            }
        }
    }
}
