@import "./fonts.scss";
@import "./colors.scss";
@import "./header.scss";
@import "./home.scss";
@import "./grid.scss";
body {
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    input {
        @extend .light;
        width: 100%;
        height: 2rem;
        border-radius: 2px;
        border: none;
        padding-left: 1rem;
        font-size: 1rem;
        font-family: Roboto;
        box-sizing: border-box;
    }
    button {
        @extend .regular;
        height: 2rem;
        width: 100%;
        background: $button-color;
        border-radius: 2px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        color: $font-color-secondary;
        border: none;
    }
}
.content {
    margin-top: $header-height;
}
