.identity {
    a {
        text-decoration: underline !important;
    }
    .stepperContent {
        min-height: 400px;
        position: relative;
        .start {
            display: flex;
            flex-flow: column;

            max-width: 400px;
            min-height: 400px;

            margin: 0 auto;
            padding: 0 1rem;

            div {
                flex: 1 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .instructions {
            display: flex;
            justify-content: center;

            @media only screen and (max-width: 550px) {
                //everythin greater than
                flex-wrap: wrap;
            }

            .steps {
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                min-width: 16rem;
                max-width: 20rem;
                width: 100%;
            }
        }
        .identityButtons {
            padding: 1rem 1rem 0 1rem;
            display: flex;
            justify-content: flex-end;

            > * {
                margin-left: 0.5rem;
            }
        }
    }
}
