{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'New Identity' context "Action / page title" %} - PrivacyMail
{% endblock %}

{% block page %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static 'img/letter.jpg' %}');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <h1>{% trans 'Adding a new Service' context "Action / page title" %}</h1>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row" >
                        <div class="col-lg-12">
                            <div class="card w-100" style="float:left; margin-top:0px; padding-top:0px; margin-right: 2rem;">
                                {% if ident.gender %}
                                    <img alt="male" class="card-img-top" src="{% static 'img/male.jpg' %}" style="float: left;"/>
                                {% else %}
                                    <img alt="female" class="card-img-top" src="{% static 'img/female.jpg' %}" style="float: left;"/>
                                {% endif %}
                                <div class="card-body">
                                    <h4 class="card-title">{{ ident.mail }}</h4>
                                    <p class="card-text">{% trans 'Name' context 'Person' %}: {{ ident.first_name }} {{ ident.surname }}<br/>
                                        {% trans 'Gender' context "Person" %}: {% if ident.gender %}Male{% else %}Female{% endif %}<br/>
                                        {% comment %}Translators: Sentence fragment, e.g. Created for website spiegel.de{% endcomment %}
                                        {% trans 'Created for the website' %} <a href="http://{{ ident.service.name }}">{{ ident.service.name }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card w-100">
                                <div class="card-header card-header-danger text-center">
                                    <h4 class="card-title">{% trans 'Important' context 'Title' %}</h4>
                                </div>
                                <div class="card-body">
                                    {% blocktrans with servicename=ident.service.name %}
                                    Please use the above eMail address <strong>only for the website {{ servicename }}</strong>. If you sign it up for a different website, things will break and the results may become incorrect. If you want to sign up another website, generate a new identity for it.
                                    {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    {% comment %}Translators: Sentence fragment, e.g. we created a new identity for the website spiegel.de{% endcomment %}
                    <p>{% trans 'We created a new identity for the website' %} <strong><a href="http://{{ ident.service.name }}">{{ ident.service.name }}</a></strong>.</p>
                    <h2>{% trans "What's next?" %}</h2>
                    <table>
                        <tbody>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">content_copy</i></div></td>
                                <td class="align-middle"><p>{% trans 'Please copy the eMail address shown on the left and sign it up for the newsletter of'%} <a href="http://{{ ident.service.name }}">{{ ident.service.name }}</a>.</p></td>
                            </tr>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">local_cafe</i></div></td>
                                <td class="align-middle"><p>{% trans 'Get a cup of coffee - we will receive the confirmation eMail and confirm it.' %}</p></td>
                            </tr>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">search</i></div></td>
                                <td class="align-middle"><p>{% trans 'As soon as we receive a newsletter from this website, we will analyze it. Note that depending on how frequently newsletters are sent, this may take a few days.'%}</p></td>
                            </tr> 
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">public</i></div></td>
                                <td class="align-middle"><p>{% trans 'The results of the analysis will be published' %} <a href="{% url 'Service' ident.service.id %}">{% trans 'here' context 'location' %}</a>.</p></td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>{% trans 'Common Questions and Problems' %}</h2>
                    <h5>{% trans 'There is more than one newsletter' %}</h5>
                    <p>{% trans 'If more than one newsletter is offered by the same website, please sign up the eMail address to <strong>all of them</strong>.' %}</p>
                    
                    <h5>{% trans 'I need to create a user account to sign up for newsletters' %}</h5>
                    {% comment %}Translators: Sentence fragment, e.g. please send us an eMail and we'll see...{% endcomment %}
                    <p>{% trans '<strong>For security and privacy reasons, we will not confirm the registration of user accounts using the above eMail address.</strong> If you are interested in the newsletters sent out by this website, please' %} <a href="mailto:info@privacy-mail.org?subject=Newsletter%20Request:%20{{ident.service.name }}&amp;body=Please%20register%20the%20above%20website%20with%20PrivacyMail.">{% trans "send us an eMail </a> and we'll see if we can add it manually."%}</p>
                    
                    <h5>{% trans 'The website does not have any newsletters' %}</h5>
                    <p>{% trans "Don't worry, simply forget about it, no harm done! There is no need to contact us about this." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
