{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Services - PrivacyMail
{% endblock %}

{% block page %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static 'img/letter.jpg' %}');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 class="text-left">{% trans "Service List" %}</h2>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Country</th>
                                <th scope="col">Sector</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for service in service_list %}
                            <tr>
                                <th scope="row"><a href="{% url 'Service' service.id %}">{{ service.name }}</a></th>
                                <td>{{ service.country_of_origin.name }}</td>
                                <td>{{ service.get_sector_display }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">{% trans 'No services found' %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
