{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

{% block title %}
Services - PrivacyMail
{% endblock %}

{% block page %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static 'img/letter.jpg' %}');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <h2 class="text-left">{% trans "Registered Services:" %}</h2>
            <div class="row">
                <div class="col-md-9">
                    {% render_table table 'django_tables2/bootstrap4.html' %}
                </div>
                <!-- Filtering -->
                <div class="col-md-3">
                    <h4 class="text-left">{% trans 'Find services by...' %}</h4>
                    {% if filter %}
                    <form action="" method="GET">
                        {% bootstrap_form filter.form %}
                        {% bootstrap_button 'Filter' button_type="submit" button_class="btn-info w-100" %}
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
