$summarizeFontSize: 3rem;

.analysis {
    padding-left: $paddingLevel;

    .analysisItem {
        border-top: $divider-border;
        padding: 1rem 0px;

        .analysisSmall {
            width: 100%;
            display: flex;
            align-items: center;

            .summarizedInfo {
                width: 20%;
                min-width: 100px;
                text-align: center;
                font-size: $summarizeFontSize;
                //color: #ff9800;
            }
            .describeText {
                //width: 70%;
                font-weight: 200;
                font-size: 1.2rem;
            }
            .passOrNot img {
                height: $summarizeFontSize * $line-height;
            }
            .expandable {
                width: 24px;
                margin-left: auto;
                margin-right: 1rem;

                img {
                    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1) 50ms;
                }
                .expanded {
                    transform: rotate(180deg);
                }
                cursor: pointer;

                object {
                    padding: auto;
                }
            }
        }

        .analysisBig {
            margin: 1rem 0rem 1rem 1rem;
            border-top: $divider-border;

            > * {
                padding-right: $paddingLevel;
            }

            > div {
                margin: 1rem 0 2rem 0;
            }
            .divider {
                margin: 0px;
            }
            p {
                font-weight: 200;
            }
            .methodeChip {
                border-radius: 5px;
                font-weight: 200;
                color: $font-color-secondary;
                display: inline-block;
                padding: 0.3rem 1rem;
                margin: 0 0.2rem;
            }
            .reliable {
                background: $methode-noProblem;
            }
            .unreliable {
                background: $methode-problem;
            }

            .connections {
                padding-right: 0px;

                .category {
                    display: flex;
                    align-items: center;

                    .coloredNumber {
                        width: 10%;
                        text-align: center;
                        font-size: $summarizeFontSize - 1rem;
                        min-width: 80px;
                    }
                    .name {
                        @extend .light;
                        font-size: 1.2rem;
                    }
                }
            }

            ul {
                padding-left: 1.2rem;
                li {
                    list-style-type: none;
                    font-size: 1rem;
                    margin: 0.6rem 0;
                    height: 24px;

                    width: 100%;
                    display: flex;
                    align-items: center;

                    a {
                        text-decoration: underline;
                    }

                    .icons {
                        display: flex;
                        align-items: center;
                        * {
                            margin-left: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
