.generalInfo {
    padding-left: $paddingLevel;
    .divider {
        margin: 0px;
    }
    .info {
        .row {
            height: 100%;
            border-bottom: $divider-border;
            padding-left: $paddingLevel;
            div {
                display: inline-block;
                width: 50%;
                padding: 0.8rem 0px;
                vertical-align: middle;
            }
            .category {
                font-weight: 200;
            }
            .value {
            }
        }
    }
}
