$header-height: 3rem;
$header-font-size: 1.25rem;

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: $header-color;
    color: $font-color-secondary;
    padding-left: 5%;
    z-index: 1000;

    a:focus {
        outline: 0;
    }
    div {
        display: inline;
        img {
            float: left;
            height: $header-height * 2/3;
            width: $header-height * 2/3;
            margin: $header-height * 1/6 8px $header-height * 1/6 0px;
        }
        h1 {
            float: left;
            font-weight: 400;
            font-size: $header-font-size;
            color: $font-color-secondary;
        }
    }
}
