{% extends 'base.html' %}
{% load static %}

{% block title %}
View eMail - PrivacyMail
{% endblock %}


{% block page %}
<div class="page-header header-filter" data-parallax="true" style="background-image: url('{% static 'img/letter.jpg' %}');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <form action="." method="post">{% csrf_token %}
                            <input type="hidden" name="action" value="markRegistered">
                            <button type="submit" class="btn btn-success">Mark identity registered</button>
                        </form>
                        <form action="." method="post">{% csrf_token %}
                            <input type="hidden" name="action" value="markSpam">
                            <button type="submit" class="btn btn-danger">Mark as Third-Party-Spam</button>
                        </form>
                    </div>
                    <p>
                        From: {{ mail.h_from }}<br>
                        To: {{ mail.h_from }}<br>
                        X-Original-To: {{ mail.h_x_original_to }}<br>
                        CC: {{ mail.h_cc }}<br>
                        BCC: {{ mail.h_bcc }}<br>
                        Subject: {{ mail.h_subject }}<br>
                        Date: {{ mail.h_date }}<br>
                        <h3>Identities</h3>
                        {% for ident in mail.identity.all %}
                        {{ ident.mail }}<br>
                        {% endfor %}
                        Suspected Spam: {{ mail.suspected_spam }}<br>
                        Message: <br>
                        {{ mail.get_cleartext|linebreaks }}

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}