{% load i18n %}
{% if display %}
<div class="card card-status-{{ status }}">
    <div class="card-body">
        <h4 class="card-title">{{ title}} <span class="badge badge-{% if reliability == 'reliable' %}success{% elif reliability == 'unreliable' %}warning{% endif %}" style="float: right;">{% if reliability == 'reliable' %}{% trans 'reliable' %}{% elif reliability == 'unreliable' %}{% trans 'unreliable' %}{% endif %}</span></h4>
        <div>
            <i class="fa fa-3x {% if status == "good" %}fa-check-circle{% endif %}{% if status == "neutral" %}fa-question-circle{% endif %}{% if status == "bad" %}fa-exclamation-circle{% endif %} color-{{ status }}" style="float:right; padding-left: 10px"></i>
            <p class="card-text">{{ status }}</p>
            <p class="card-text">{{ description }} <a data-toggle="collapse" href="#collapse{{ id }}" aria-expanded="false" aria-controls="collapse{{id}}">{% trans 'More information' %}.</a></p>
        </div>
        <div class="collapse" id="collapse{{ id }}">
            <hr />
            <p><strong>{% trans 'Conditions for passing' %}:</strong> {{ condition }}</p>
            <p><strong>{% trans 'Reliability' %}:</strong> {{ reliability }}</p>
            <p><strong>{% trans 'Potential scan errors' %}:</strong> {{ error }}</p>

            <span style="float: right;">{% trans 'Result wrong?'%}&nbsp;
            <a class="btn btn-default btn-sm"
               href="mailto:info@privacy-mail.org?subject=ERROR-REPORT&amp;body=I%20want%20to%20report%20an%20error.">
                    {% trans 'report error' %}
            </a></span>
        </div>
    </div>
</div>
{% else %}{% endif %}