{% load i18n %}
{% load tags %}
{% if display %}
<div class="card card-status-{{ status }}">
    <div class="card-body">
        <h4 class="card-title">{{ title}} <span class="badge badge-{% if reliability == 'reliable' %}success{% elif reliability == 'unreliable' %}warning{% endif %}" style="float: right;">{% if reliability == 'reliable' %}{% trans 'reliable' %}{% elif reliability == 'unreliable' %}{% trans 'unreliable' %}{% endif %}</span></h4>
        <div>
            <i class="fa fa-3x {% if status == "good" %}fa-check-circle{% endif %}{% if status == "neutral" %}fa-question-circle{% endif %}{% if status == "bad" %}fa-exclamation-circle{% endif %} color-{{ status }}" style="float:right; padding-left: 10px"></i>
            <p class="card-text">{{ interpretation | safe }}</p>
            {% if add_data %}
            {% for item in add_data %}
            {% show_list_details item %}
            {% endfor %}
            {% endif %}
            <p class="card-text">{{ description | safe }} <a data-toggle="collapse" href="#collapse{{ id }}" aria-expanded="false" aria-controls="collapse{{id}}">{% trans 'More information' %}.</a></p>
        </div>
        <div class="collapse" id="collapse{{ id }}">
            <hr />
            <p><strong>{% trans 'Conditions for passing' %}:</strong> {{ condition }}</p>
            <p><strong>{% trans 'Reliability' %}:</strong> {{ reliability }}</p>
            <p><strong>{% trans 'Potential scan errors' %}:</strong> {{ error }}</p>

            <span style="float: right;">{% trans 'Result wrong?'%}&nbsp;
            <a class="btn btn-default btn-sm"
               href="mailto:privacymail@seemoo.tu-darmstadt.de?subject=PrivacyMail%20Error%20Report&amp;body=Please%20describe%20the%20error%20and%20do%20not%20forget%20to%20include%20a%20link%20to%20the%20service%20you%20are%20encountering%20a%20problem%20with.">
                    {% trans 'report error' %}
            </a></span>
        </div>
    </div>
</div>
{% else %}{% endif %}