{% load i18n %}
<footer class="footer footer-default">
    <div class="container">
    	<nav class="float-left">
        	<ul>
          		<li><a href="{% url 'Imprint' %}">{% trans 'Imprint' %}</a></li>
          		<li><a href="{% url 'PrivacyPolicy' %}">{% trans 'Privacy Policy' %}</a></li>
        	</ul>
    	</nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, PrivacyMail Team.
        </div>
    </div>
</footer>
