{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title%}
PrivacyMail
{% endblock %}

{% block page %}
<div class="page-header header-filter" data-parallax="false" style="background-image: url('{% static 'img/letter.jpg' %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="title">{% trans "Who is watching you read your eMails?" %}</h1>
                <h4>{% trans "Did you know that many companies track if you are opening their newsletters? Find out more about the practices of your favourite company here." %}</h4>
                <br>
            </div>
        </div>
        <div class="searchbar col-lg-6">
            <form action="/" method="post" id='sbar-form'>{% csrf_token %}
                <input class="search_input" id='sbar-input' type="text" name="domain" placeholder="nytimes.com" {% if offer_identity_creation %} value="{{ offer_identity_creation }}" autocomplete="off" {% endif %} {% if notification %} value="{{ notification.domain }}" autocomplete="off" {% endif %}>
                <button type="submit" class="search_icon" id='sbar-button'><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="container">
        <div class="section text-center">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <h2 class="title">{% trans "Shining a Light on eMail Tracking" %}</h2>
                    <h5 class="description">{% trans "PrivacyMail makes the invisible tracking in newsletters visible. Email tracking is widely used to track which eMails you read, which links you click, and how successful marketing campaigns are. To achieve this, they use the services of other companies, which may in turn use the data to profile you for targeted advertisements." %}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ml-auto mr-auto info">
                    <h3 class="title">{% trans "How eMail Tracking Works" context 'Section heading' %}</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">email</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "The company sends you an eMail." %}</p></td>
                            </tr>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">done_all</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "When you open the eMail, images are loaded from the company, or one of its partners. The companies thus knows that you have opened the eMail." %}</p></td>
                            </tr>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">insert_link</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "Links in the eMail are personalized - if you click them, the company knows it was you who clicked the link." %}</p></td>
                            </tr> 
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">attach_money</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "All this data can be used by the companies to optimize their newsletters - or target advertisements." %}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 ml-auto mr-auto info">
                    <h3 class="title">{% trans "How We Detect It" context "section heading" %}</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">email</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "People like you sign up a newsletter to a special eMail address provided by us." %}</p></td>
                            </tr>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">search</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "We receive them and analyze them using an automated scanning system that inspects them for common types of tracking." %} <a href="#">({% trans "learn more" %})</a></p></td>
                            </tr>
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">public</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "Information about newsletters and tracking companies is published on this website to allow you to inform yourself." %}</p></td>
                            </tr> 
                            <tr>
                                <td><div class="icon" style="float: left; margin-right: 1rem;"><i class="material-icons" style="font-size: 61px !important;">mood</i></div></td>
                                <td class="align-middle text-left"><p>{% trans "Others see the results, allowing them to make more informed decisions about their newsletter consumption." %}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                        <h3 class="title">{% trans "Why You Should Use PrivacyMail" %}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">email</i>
                            </div>
                            <h4 class="info-title">{% trans "Inform Yourself" context "Section heading"%}</h4>
                            <p>{% trans "Knowing is half the battle. Find out if the newsletters you are reading are tracking you, who they are sending your data to, and what these companies are up to." %}</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">record_voice_over</i>
                            </div>
                            <h4 class="info-title">{% trans "Raise Your Voice" context "Section heading" %}</h4>
                            <p>{% trans "Don't want to be tracked and profiled? Share the results with others to warn them and demand companies change their behavior." %}</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info">
                            <div class="icon">
                                <i class="material-icons">school</i>
                            </div>
                            <h4 class="info-title">{% trans "Support Research" context "Section heading" %}</h4>
                            <p>{% trans "By using PrivacyMail, you support our research on the state of online privacy by helping us collect a large dataset of newsletters." %}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="features">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                        <h3 class="title">{% trans "A Few Statistics" context "Section heading" %}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="info" style="padding-top: 0px;">
                            <div class="icon">
                                <h2>{{ global_stats.service_count | intcomma }}</h2>
                            </div>
                            <h4 class="info-title">{% trans "Newsletters Registered" context "statistic description" %}</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info" style="padding-top: 0px;">
                            <div class="icon">
                                <h2>{{ global_stats.email_count | intword | intcomma }}</h2>
                            </div>
                            <h4 class="info-title">{% trans "eMails Processed" context "statistic description" %}</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="info" style="padding-top: 0px;">
                            <div class="icon">
                                <h2>{{ global_stats.tracker_count | intcomma }}</h2>
                            </div>
                            <h4 class="info-title">{% trans "3rd Party Domains Found" %}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block final_js %}
<script type="text/javascript">
    $('[data-toggle="popover"]').popover()
    function init_popover_button(title, content) {
        $('#sbar-button').attr("data-content", content);
        $('#sbar-button').attr("data-original-title", title);
        $('#sbar-button').attr("data-placement", "bottom");
        $('#sbar-button').attr("data-toggle", "popover");
        $('#sbar-button').attr("data-html", "true");
        $('#sbar-button').attr("data-container", "body");
        $('#sbar-button').attr("data-trigger", "manual");
        $('#sbar-button').popover('show');
    }

    function change_icon_temporary(iconclass, buttonclass, formaction) {
        $('#sbar-button').toggleClass('search_icon '.concat(buttonclass));
        $('#sbar-button > i').toggleClass('fa-search '.concat(iconclass));
        $('#sbar-form').attr("action", formaction);
        $('#sbar-input').on("input", function() {
            $('#sbar-button').toggleClass(buttonclass.concat(' search_icon'));
            $('#sbar-button > i').toggleClass(iconclass.concat(' fa-search'));
            $('#sbar-form').attr("action", "/");
            $('#sbar-input').off("input");
            $('#sbar-button').popover('hide');
            $('#sbar-button').popover('disable');
        });
    }

    {% if offer_identity_creation %}
    change_icon_temporary('fa-plus', 'add_icon', '/identity/');
    init_popover_button("{% trans 'Add this site' %}", "{% blocktrans %}Looks like we don't have this website in our database yet - you can add it yourself!{% endblocktrans %} <a href='/faq'>{% trans 'Learn more' %}</a>.");
    {% endif %}
    {% if notification %}
    change_icon_temporary('fa-times', 'error_icon', '/')
    init_popover_button("{{ notification.title }}", "{{ notification.message }}");
    {% endif %}
</script>
{% endblock %}
