{% load static %}
{% load i18n %}

<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{% url 'Home' %}"><img src="{% static 'img/favicon.ico' %}" width="35px" height="35px" style="vertical-align:middle;"> PrivacyMail</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link {% if '/service' in request.path %}active{% endif %}" href="#">{% trans 'Services' context "Main menu" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/tracker' in request.path %}active{% endif %}" href="#">{% trans 'Trackers' context "Main menu" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {% if '/learn' in request.path %}active{% endif %}" href="#">{% trans 'Learn' context "Main Menu" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/faq' in request.path %}active{% endif %}" href="{% url 'FAQ' %}">{% trans 'FAQ' context "Main Menu" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/research' in request.path %}active{% endif %}" href="#">{% trans 'Research' context "Main Menu" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/code' in request.path %}active{% endif %}" href="#">{% trans 'Code' context "Main Menu" %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>