.bg {
   /*  position: absolute;*/
    top: 0;
    background-size: cover;
    background-position: center center;
    width: 100%;
    z-index: -1;
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: darkgrey;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* nav {
    margin-bottom: 20px;
} */
.highlight {
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
}
.myfooter {
  padding: 5px 0px 5px 0px;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  z-index: 2;
}
.myfooter p {
  margin-bottom: 0px;
}
label {
  color: #333;
}
.identityimg {
    max-height: 200px;
}


.color-bad {
    color: #fcab10;
}

.color-critical {
    color: #e02c2c;
}

.color-mediocre, .color-warning {
    color: #fcab10;
}

.color-good, .color-doubleplusgood {
    color: #44af69;
}

.color-neutral {
    color: #aaa;
}

.badge-color-reliable {
    background-color: #5bc0de;
}

.badge-color-unreliable {
    background-color: #ff7777;
}

.badge-color-informational {
    background-color: #999;
}

.badge-color-experimental {
    background-color: #a0f;
}

.pull-right {
    float: right;
}

.bg .container {
    padding-top: 50px;
    min-height: 100vh;
}
#th-table {
    max-width: 500px;
}
#services-table {
    max-width: 500px;
}

h2 > small {
    font-size: 60%;
    color: rgb(119, 119, 119);
}


/* fancy search bar */

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    opacity: 0.8;
    border-radius: 30px;
    padding: 10px;
    transition: opacity 0.2s linear;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    line-height: 30px;
    caret-color:red;
    padding: 5px 10px 5px 10px;
    font-size: 25px;
}

.searchbar:focus-within {
    opacity: 1;
    transition: opacity 0.2s linear;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* color:white; */
    background: white;
    color: #e74c3c;
    transition: background-color 0.4s linear;
}

.add_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* color:white; */
    background: #3ce74c;
    color: white;
    margin-left: 5px;
    transition: background-color 0.4s linear;
}


.error_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* color:white; */
    background: #e74c3c;
    color: white;
    margin-left: 5px;
    transition: background-color 0.4s linear;
}

/** Result cards **/
.card-status-bad {
    background: #fb901b; /* Old browsers */
    background: -moz-linear-gradient(left, #fb901b 0%, #fb901b 20px, #ffffff 25px, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fb901b 0%,#fb901b 20px,#ffffff 25px,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fb901b 0%,#fb901b 20px,#ffffff 25px,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb901b', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.card-status-good {
    background: #4caf50; /* Old browsers */
    background: -moz-linear-gradient(left, #4caf50 0%, #4caf50 20px, #ffffff 25px, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4caf50 0%,#4caf50 20px,#ffffff 25px,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4caf50 0%,#4caf50 20px,#ffffff 25px,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4caf50', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.card-status-neutral {
    background: #d6d6d6; /* Old browsers */
    background: -moz-linear-gradient(left, #d6d6d6 0%, #d6d6d6 20px, #ffffff 25px, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d6d6d6 0%,#d6d6d6 20px,#ffffff 25px,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #d6d6d6 0%,#d6d6d6 20px,#ffffff 25px,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb901b', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.card-detail-label {
    display: inline-block;
    padding: 0.3em 0.7em;
    background-color: #eee;
    color: #777;
    margin: 0em 0.5em 1em 0.5em;
    border: 1px solid #ccc;
}