.home {
    background-color: #3d3a3a;

    .grid {
        color: $font-color-secondary;
        padding: 32px;
        grid-column-gap: 16px;
        grid-row-gap: 32px;

        h1 {
            font-size: 2.5rem;
            margin: 0px;
        }
        h2 {
            font-size: 1.75rem;
            margin: 0px;
        }
        h3 {
            @extend .normal;
            margin: 0px;
        }
        button {
            margin-top: 0.5rem;
            width: 100%;
        }
        p {
            margin: 0px;
            width: 100%;
            line-height: 1.3rem;
        }
        .statistic {
            text-align: center;
        }
        .highlighted {
            font-size: 1.125rem;
        }

        .image-list {
            .icon {
                width: 48px;
                vertical-align: middle;
            }
            ul {
                margin: 0px;
                vertical-align: middle;
                list-style-type: none;
                padding: 0px;
            }
            li {
                @extend .normal;
                @extend .light;
                margin: 1.3rem 0px;
                * {
                    display: inline-block;
                    vertical-align: middle;
                }
                span {
                    width: calc(100% - 64px);
                    padding: 0px 0px 0px 16px;

                    p {
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}
