.welcome {
    position: relative;
    height: 70vh;
    min-height: 600px;
    max-height: 800px;
    overflow: hidden;

    color: $font-color-secondary;

    > * {
        padding: 0 1rem;
        height: 100%;

        display: flex;
        flex-flow: column;

        margin: 0px auto 0px auto;

        @media only screen and (min-width: calc(500px + 2rem)) {
            width: calc((100% - (500px + 2rem)) * 0.4 + 500px);
        }
        @media only screen and (min-width: calc((#{$screen-break} + 50px - (500px ))  *2.5 + (500px))) {
            width: $screen-break + 50px;
        }

        > * {
            margin: 2rem 0 0 0;
        }
        .dynamics {
            margin-top: 0;
            display: flex;
            flex-grow: 1;
            flex-flow: column;
            justify-content: space-around;
        }
        .input {
            > * {
                width: 100%;
            }
        }

        .statistic {
            margin: 0;
        }
    }
}
.welcome::before {
    $blurmargin: 4px;
    position: absolute;
    width: calc(100% + #{$blurmargin} * 2);
    height: calc(100% + #{$blurmargin} * 2);
    content: "";
    margin: -$blurmargin;
    z-index: -1;

    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/letter.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    filter: blur($blurmargin);
}
